/* var */
:root {
  --logo-black-color: #000000;
  --main-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196f3;
  --contact-color: rgba(255, 255, 255, 0.6);
  --main-background-color: #e5e5e5;
  --banner-color: #ffffff;
  --hower-bg-buttom-color: #188ce8;
  --buttom-bg: #f5f4fa;
}
/* body */
body {
  font-family: roboto, sans-serif;
  color: var(--main-color);
  background-color: #f5f4fa;
}

/* header */
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  text-decoration: none;
}

.logo .begin {
  color: var(--accent-color);
}

.logo .end {
  color: var(--logo-black-color);
}

.nav-list .link {
  color: var(--main-color);
  text-decoration: none;
}

.nav-list .link.current {
  color: var(--accent-color);
}

.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--accent-color);
}

.contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-color);
}

.contact:hover,
.contact:focus {
  color: var(--accent-color);
}

/* main */
/* banner section */
.banner-section {
  color: var(--banner-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.buttom {
  color: var(--banner-color);
  background: var(--accent-color);
  font-family: inherit;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.06em;
}

.buttom:focus,
.buttom:hover {
  color: var(--banner-color);
  background: var(--hower-bg-buttom-color);
}

.list {
  list-style: none;
}

.section-title {
  color: #212121;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/* features*/
.features .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.paragraf {
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1.2;
}
/* our ream */

.our-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
/* futor */
.address {
  color: var(--banner-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
}

.tell-mail {
  color: var(--contact-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.tell-mail:hover,
.tell-mail:focus {
  color: var(--accent-color);
}

/* main portfolio */
.filter-butom {
  cursor: pointer;
  font-family: inherit;
  background-color: var(--buttom-bg);
  color: var(--main-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
}

.filter-butom:hover,
.filter-butom:focus {
  background-color: var(--accent-color);
  color: var(--banner-color);
}

.portfolio-title {
  color: var(--main-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-p {
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 2;

  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
}
